@import "../../variables.scss";
@import "../../mixin.scss";

.card-wrapper {
  .img-card-wrapper {
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
    height: 200px;
    margin-bottom: 2.4rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  h2 {
    margin-bottom: 3rem;
    color: $same-color-dark;
  }
  a {
    margin-left: 0.8rem;
  }
}
