@import "./variables.scss";
@import "./mixin.scss";

/* -Global Styles*/

@font-face {
  font-family: Roboto;
  src: url("../src/assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../src/assets/fonts/Roboto/Roboto-Bold.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  @include robo-light;
  color: $same-color-dark;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.row {
  @include f-row;
}

.column {
  @include f-column;
}
