$roboto: Roboto, Arial, Helvetica, sans-serif;
$roboto-b: Roboto-Bold, Arial, Helvetica, sans-serif;

$color: #219653;
$light-text: rgb(237, 235, 235);
$light-gray: rgb(172, 171, 171);
$dark-text: rgb(28, 25, 25);
// $comp-color: #b98250;
$comp-color: #c37731;
$same-color-dark: #0d4625;

$same-color-light: #6fcf97;
$alert-color: rgb(215, 145, 15);
$confirmation-color: rgb(27, 132, 27);
$error-color: rgb(131, 10, 10);
